body{
    background-image: url(https://images.pexels.com/photos/2514035/pexels-photo-2514035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover;
 
}
.div1 {
    display: flex;
    gap: 60px;
    justify-content: center; 
}

.div2 {
    display:flex;
    gap: 40px;
    justify-content: center;

}


img {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%; 
    transition: transform 0.6s ease, border-radius 0.6s ease, width 0.6s ease, height 0.6s ease;
    cursor: pointer;
}

img:hover {
    width: 210px; 
    height: 210px; 
    border-radius: 5%; 
    transform: scale(1); 
}




